body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Typewriter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111017;
  color: #FFFFFF;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

button {
  font-family: inherit;
  background-color: #aaaaaa00;
  border: 1px solid #ffffff;
  color: #FFFFFF;
  font-size: 1em;

}

input {
  font-family: inherit;
  background-color: #aaaaaa00;
  border: 1px solid #ffffff;
  font-size: 1em;
  color: #FFFFFF;
}

input::placeholder {
  color: #333333;
}
h1 {
  text-align: center;
}



@font-face {
  font-family: 'Typewriter';
  src: url(./assets/fonts/American\ Typewriter\ Regular.ttf);

}